---
import Layout from "../layouts/Layout.astro";
import { WebComponent } from "web-component";
// TODO: make this import work. Something about how the astro-components exports
//   its js that doesn't work
// import { Text } from "astro-components";

const drievoor12query = `
query {
    Drievoor12updates {
        items {
            _id
            title
        }
    }
}
`;

const queryArticle = `
query {
  Article { 
    _id
      dynamic { 
        __typename
          ... on YouTubePost {
            _id
              _type
              url
          }
        ... on Text {
          _id
            _type
            html
            body
            text
            format
        }
      }
  }
}
`;
const fetcher = async (query: string) => {
  const variables = {};
  const response = await fetch(import.meta.env.PREPR_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ query, variables }),
  });
  return response.json();
};

const { data } = await fetcher(drievoor12query);
const { data: article } = await fetcher(queryArticle);
---

<Layout title="Welcome to Astro.">
  <main>
    <style>
      main {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      main div:first-of-type h2 {
        color: green;
      }
      main div:last-of-type h2 {
        color: blue;
      }
    </style>

    <div>
      <h2>een webcomponent</h2>
      <WebComponent client:load header="teller:" />
    </div>
    <div>
      <h2>3voor12 artikelen uit het CMS</h2>
      <ul>
        {
          data.Drievoor12updates.items.map((item: { title: string }) => (
            <li>{item.title}</li>
          ))
        }
      </ul>
    </div>
    <div>
      {article.Article.dynamic.map((item) => <li>{item.__typename}</li>)}
    </div>
    <!-- <Text text="hoi" /> -->
  </main>
</Layout>
