---
import Layout from "../layouts/Layout.astro";
import { WebComponent } from "web-component";

const query = `
query {
    Drievoor12updates {
        items {
            _id
            title
        }
    }
}
`;

const variables = {};
const response = await fetch(import.meta.env.PREPR_ENDPOINT, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({ query, variables }),
});

const { data } = await response.json();
---

<Layout title="Welcome to Astro.">
  <main>
    <style>
      main {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      main div:first-of-type h2 {
        color: green;
      }
      main div:last-of-type h2 {
        color: blue;
      }
    </style>

    <div>
      <h2>een webcomponent</h2>
      <WebComponent client:load header="teller:" />
    </div>
    <div>
      <h2>3voor12 artikelen uit het CMS</h2>
      <ul>
        {
          data.Drievoor12updates.items.map((item: { title: string }) => (
            <li>{item.title}</li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
